<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
        <div class="container shadow-lg" style="width: 95vw; height: fit-content; background-color:rgb(255, 121, 31); border-radius: 30px; padding-right: 20px; margin-left: 1.2vw;">
                <div style="display: flex;">
                            <div class="container shadow-lg  p-3 mt-3" style="width: 20vw; height: 45vh;    background-color:rgb(235, 233, 231); margin: 20px; margin-left: 30px;">
                                <button>Delete item</button>
                                <button>Add 1</button>
                                <button>1 sold</button>
                            </div>
                            <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                                    <button>Delete item</button>
                                    <button>Add 1</button>
                                    <button>1 sold</button>
                            </div>
                            <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                                    <button>Delete item</button>
                                    <button>Add 1</button>
                                    <button>1 sold</button>
                            </div>
                           
                            <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                                    <button>Delete item</button>
                                    <button>Add 1</button>
                                    <button>1 sold</button>
                            </div>
                </div>
                <div style="display: flex;">
                        <div class="container shadow-lg  p-3 mt-3" style="width: 20vw; height: 45vh;    background-color:rgb(235, 233, 231); margin: 20px; margin-left: 30px;">
                                <button>Delete item</button>
                                <button>Add 1</button>
                                <button>1 sold</button>
                        </div>
                        <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                                <button>Delete item</button>
                                <button>Add 1</button>
                                <button>1 sold</button>
                        </div>
                        <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                                <button>Delete item</button>
                                <button>Add 1</button>
                                <button>1 sold</button>
                        </div>
                        <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                                <button>Delete item</button>
                                <button>Add 1</button>
                                <button>1 sold</button>
                        </div>
            </div>
            <div style="display: flex;">
                    <div class="container shadow-lg  p-3 mt-3" style="width: 20vw; height: 45vh;    background-color:rgb(235, 233, 231); margin: 20px; margin-left: 30px;">
                            <button>Delete item</button>
                            <button>Add 1</button>
                            <button>1 sold</button>
                    </div>
                    <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                            <button>Delete item</button>
                            <button>Add 1</button>
                            <button>1 sold</button>
                    </div>
                    <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                            <button>Delete item</button>
                            <button>Add 1</button>
                            <button>1 sold</button>
                    </div>
                    <div class="container shadow-lg align-items-center p-3 mt-3" style="width: 20vw; height: 45vh; background-color:rgb(235, 233, 231); margin: 20px;">
                            <button>Delete item</button>
                            <button>Add 1</button>
                            <button>1 sold</button>
                    </div>
        </div>
            </div>
</body>
</html>